/* Barre de navigation */
.navbar {
  font-family: "Arial";
  display: flex;
  justify-content: space-between;
  background-color: #2abd67; /* Couleur de fond de la barre de navigation */
  max-width: 100%; /* Prend toute la largeur de la fenêtre */
}

/* Liste des liens dans la navigation */
.navbar ul {
  width: 80%;
  display: flex; /* Utilise un modèle flex pour l'alignement */
  justify-content: space-around; /* Espace entre les éléments */
  align-items: center;
  list-style: none; /* Supprime les puces des listes */
}

.navbar a {
  color: #000000; /* Couleur des liens */
  text-decoration: none; /* Supprime le soulignement des liens */
  font-weight: bold; /* Rend le texte des liens en gras */
}

.navbar a:hover {
  color: #00ff6e74; /* Change la couleur des liens au survol */
}

.logo {
  width: 85px; /* Largeur du cercle */
  height: 85px; /* Hauteur égale à la largeur pour créer un cercle */
  background-color: white; /* Couleur de fond blanc */
  border-radius: 0% 60% 60% 0%; /* Arrondit les coins à 50% pour obtenir un cercle */
  padding: 0 16px;
}

/* Style de base du footer */
.footer {
  background-color: #d3d3d3; /* Couleur de fond similaire */
  padding: 2rem;
  font-family: "Arial", sans-serif;
  color: #333;
  display: grid;
  gap: 1rem;
}

/* Section pour l'adresse */
.address p {
  line-height: 2;
}

/* Sections de liens */
.links {
  display: flex;
  gap: 8em;
}

.links ul {
  list-style: none;
}

.links ul li {
  margin-bottom: 0.9em;
}

.links a {
  color: #333;
  text-decoration: none;
  font-size: 0.9rem;
}

.links a:hover {
  text-decoration: underline;
}

/* Section pour les icônes de réseaux sociaux */
.social-media {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2em;
}

.social-media img {
  width: 24px; /* Taille des icônes des réseaux sociaux */
  height: 24px;
}

/* Pied de page en bas */
.footer-bottom {
  grid-column: span 3;
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
}

.footer-bottom p {
  margin-right: 68em;
}

/* Adaptations pour les écrans de taille moyenne (tablettes) */
@media screen and (max-width: 768px) {
  .footer {
    background-color: #d3d3d3; /* Couleur de fond similaire */
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
  }

  .footer-bottom p {
    margin-right: 1em;
  }
}

/* Adaptations pour les petits écrans (téléphones) */
@media screen and (max-width: 500px) {
  .footer {
    background-color: #d3d3d3; /* Couleur de fond similaire */
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 12px;
  }

  .footer-bottom p {
    margin-right: 1em;
  }
}

/* Adaptations pour les petits écrans (pc) */
@media screen and (min-width: 768px) {
  .footer {
    background-color: #d3d3d3; /* Couleur de fond similaire */
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 12px;
  }

  .footer-bottom p {
    margin-right: 1em;
  }

  .footer-section {
    font-size: 12px;
  }
}
